:root {
  --linkcolor: #444444;
  --linkhover: #4ab2f1;
  --primary: #dc4828;
  --secondary: #2b4f90;
  --btnhover: #0d7cbf;
  --tertiary: #f48f1f;
  --white: #ffffff;
  --black: #000000;
}

body {
  font-size: 0.875rem;
}

a {
  text-decoration: none;
  transition: all 500ms ease-in;
}

ul,
ol {
  list-style: none;
}

figure {
  margin: 0;
}

.topbar {
  height: 2.5rem;
}

.topbarlink {
  color: var(--linkcolor);
}

.topbarlink:hover,
.topbarlink:focus,
.topbarlink:active {
  color: var(--primary);
}

.logo {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header {
  height: 5rem;
  display: flex;
  align-items: center;
}

.btn-buy {
  display: inline-block;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  border: 0;
  background: var(--secondary);
  color: var(--white);
  text-align: center;
  transition: all 350ms ease-in;
}

.btn-buy:hover {
  background: var(--btnhover);
}

.slidetitle {
  color: var(--btnhover);
}

.h6 {
  color: var(--linkcolor);
}
