:root {
  --linkcolor: #444444;
  --linkhover: #4bb2f1;
  --primary: #dc4928;
  --secondary: #2b4f91;
  --btnhover: #0d7cbf;
  --tertiary: #f48f1f;
  --white: #ffffff;
  --black: #000000;
  --hoverbg: #f6f6f6;
  --facebook: #1877f2;
  --twitter: #1da1f2;
  --instagram: #fcaf45;
  --linkedin: #0077b5;
  --inputborder: #dddddd;
  --lightgray: #e0e0e0;
  --placeholder: #9290c3;
  --graybg: #f6f6f6;
  --textolive: #7d8233;
  --textgray: #999999;
  --shadow: 0 0 0.125rem rgba(0, 0, 0, 0.2);
  --boxshadow: 0.3125rem 0 1.5625rem rgba(0, 0, 0, 0.2);
  --cardshadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
  --transition: all 350ms ease-in;
}

body {
  font-size: 0.875rem;
}

a {
  text-decoration: none;
  transition: all 500ms ease-in;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

figure {
  margin: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.loadericon {
  width: 20rem;
  height: 20rem;
}

.preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
}

.topbar {
  height: 2.5rem;
}

.topbarlink {
  color: var(--linkcolor);
}

.topbarlink i {
  font-size: 1.125rem;
}

.topbarlink:hover,
.topbarlink:focus,
.topbarlink:active {
  color: var(--primary);
}

.logo {
  width: 15rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.btn-hamburger,
.btn-sidebar {
  border: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  text-align: center;
  background: var(--btnhover);
  color: var(--white);
  transition: var(--transition);
}

.btn-hamburger:hover,
.btn-sidebar:hover {
  background: var(--secondary);
}

.header {
  height: 5rem;
  display: flex;
  align-items: center;
}

.mainmenu {
  background: var(--btnhover);
  height: 4rem;
  display: flex;
  align-items: center;
}

.btn-buy {
  display: inline-block;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  border: 0;
  background: var(--secondary);
  color: var(--white);
  text-align: center;
  transition: var(--transition);
}

.btn-buy:hover {
  background: var(--btnhover);
}

.slidetitle {
  color: var(--btnhover);
}

.h6 {
  color: var(--linkcolor);
}

.desktoplist {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  list-style: none;
}

.desktoplist-item {
  position: relative;
}

.desktoplist-link {
  color: var(--lightgray);
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 350ms ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

.desktoplist-item:hover .desktoplist-link {
  color: var(--white);
}

.desktoplist-item:hover .dropdownlist {
  display: block;
}

.dropdownlist {
  list-style: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--white);
  box-shadow: var(--shadow);
  width: 16rem;
  display: none;
  animation-name: slideUpIn;
  animation-fill-mode: both;
  animation-duration: 350ms;
}

.dropdownlist-link {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
  width: 100%;
  color: var(--linkcolor);
  transition: var(--transition);
}

.dropdownlist-item:hover .dropdownlist-link {
  background: var(--hoverbg);
  color: var(--btnhover);
}

button:hover,
button:focus,
.btn:hover,
.btn:focus,
input:focus,
select:focus {
  box-shadow: none;
}

.btn-close:hover,
.btn-close:focus {
  transform: rotate(90deg);
  color: var(--primary);
}

.btn-close:focus,
.accordion-button:focus {
  box-shadow: none;
}

.accordion,
.accordion-item {
  border: 0;
}

.accordion-item:first-of-type,
.accordion-item:last-of-type {
  border-radius: 0;
}

.accordion-button {
  padding: 0;
}

.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-radius: 0;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
}

.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  border-radius: 0;
}

.offcanvas .dropdown-item {
  color: var(--secondary);
  font-size: 0.875rem;
  font-weight: 500;
  transition: var(--transition);
}

.offcanvas .dropdown-item:hover {
  color: var(--primary);
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.offcanvas-title {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--secondary);
}

.searchbox {
  max-width: 23.75rem;
  min-width: 23.75rem;
}

.searchform {
  display: flex;
  width: 100%;
  border: solid 0.0625rem var(--inputborder);
  transition: var(--transition);
}

.searchform:focus-within {
  border-color: var(--linkhover);
}

.searchfield {
  border: none;
  color: var(--linkcolor);
  font-size: 0.875rem;
  width: calc(100% - 5rem);
  height: 2.5rem;
  padding-inline: 0.875rem;
}

.searchfield::placeholder {
  color: var(--placeholder);
}

.searchfield:focus {
  box-shadow: none;
  outline: none;
}

.btn-search {
  background: var(--linkhover);
  color: var(--white);
  border: 0;
  height: 2.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem 1.25rem;
  width: 5rem;
  transition: var(--transition);
}

.btn-search:hover {
  background: var(--secondary);
}

.emptyicon {
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.emptytitle {
  color: var(--primary);
  font-weight: 600;
}

.cartcard {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.cartcard-thumb {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.cartcard-thumb img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cartcard-details {
  width: calc(100% - 5.75rem);
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.info {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2rem);
}

.info .title {
  color: var(--linkcolor);
  font-size: 1rem;
  font-weight: 500;
  max-width: 100%;
}

.info .title:hover {
  color: var(--btnhover);
}

.info .price {
  color: var(--black);
  font-size: 1.125rem;
  font-weight: 600;
}

.btn-remove {
  width: 2rem;
  border: 0;
  font-size: 1.25rem;
  background: transparent;
  color: var(--linkcolor);
  transition: var(--transition);
}

.btn-remove:hover {
  color: var(--primary);
}

.counterbox {
  display: flex;
  width: 8rem;
}

.counterbox .counterinput {
  color: var(--black);
  width: 4rem;
  height: 2rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  border: solid 0.0625rem var(--linkcolor);
  padding-inline: 0.4rem;
}

.counterbox .counterinput:focus {
  outline: none;
}

.counterbox button {
  width: 2rem;
  height: 2rem;
  border: 0;
}

.counterbox .btn-increment {
  background: var(--secondary);
  color: var(--white);
}

.counterbox .btn-decrement {
  background: var(--primary);
  color: var(--white);
}

.btn-order {
  border: 0;
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  background: var(--tertiary);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  transition: var(--transition);
}

.btn-order:hover {
  background: var(--primary);
}

.pricetitle {
  color: var(--linkcolor);
  font-weight: 600;
  font-size: 1rem;
}

.pricenumber {
  color: var(--secondary);
  font-weight: 600;
  font-size: 1.25rem;
}

.footer {
  background: #151515 url(../images/wmp.svg) center no-repeat;
}

.footer .info p {
  color: var(--textgray);
  font-size: 0.875rem;
}

.copyright {
  border-top: solid 0.0625rem var(--linkcolor);
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
}

.copyright aside p {
  color: var(--textgray);
  font-size: 0.8125rem;
  font-weight: 500;
}

.footertitle {
  color: var(--textolive);
  font-size: 1.25rem;
  font-weight: 400;
}

.footer nav a {
  color: var(--textgray);
  font-size: 0.875rem;
  transition: var(--transition);
}

.footer nav a:hover {
  color: var(--linkhover);
}

.footer-intro-menu {
  margin: 0.25rem 0 1.5rem;
  font-weight: bold;
}

.footer-intro-menu span {
  color: var(--textgray);
}

.footlink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footlink span {
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 500;
}

.footlink .icon {
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sectiontitle {
  color: var(--secondary);
  font-weight: 700;
  text-align: center;
}

.info p {
  font-size: 1rem;
  text-align: justify;
}

.info p a {
  color: var(--black);
  font-weight: 500;
  transition: var(--transition);
}

.info p a:hover {
  color: var(--primary);
}

.ctgcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
}

.ctgthumb {
  width: 18.125rem;
  height: 13.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ctgthumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition);
}

.ctgthumb:hover img {
  transform: scale(0.95);
}

.ctg-title {
  color: var(--black);
  transition: var(--transition);
}

.ctg-title:hover {
  color: var(--primary);
}

.card {
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  border: 0;
  border-radius: 0;
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.card:hover {
  box-shadow: var(--cardshadow);
}

.card-thumb {
  width: 12.5rem;
  height: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0.5rem;
}

.card-thumb img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: var(--transition);
}

.card-thumb:hover img {
  transform: scale(0.95);
}

.card-title {
  color: var(--linkcolor);
  font-size: 1rem;
  transition: var(--transition);
  min-height: 38.4;
  display: flex;
  align-items: center;
}

.card-title:hover {
  color: var(--primary);
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.card-body button {
  color: var(--white);
  width: 3rem;
  height: 2.5rem;
  border: 0;
  font-size: 1.25rem;
  transition: var(--transition);
}

.btn-compare {
  background: var(--btnhover);
}

.btn-compare:hover {
  background: var(--secondary);
}

.btn-cart {
  background: var(--tertiary);
}

.btn-cart:hover {
  background: var(--primary);
}

.prodprice {
  color: var(--black);
  font-weight: 700;
}

.btn-view {
  display: inline-block;
  padding-inline: 1.25rem;
  height: 3rem;
  border-radius: 0.3125rem;
  background: var(--btnhover);
  font-size: 0.875rem;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.btn-view:hover {
  background: var(--secondary);
}

.btn-viewall {
  display: inline-block;
  width: 12rem;
  height: 3rem;
  border-radius: 0.3125rem;
  background: var(--secondary);
  font-size: 0.875rem;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  transition: var(--transition);
}

.btn-viewall i {
  transition: var(--transition);
}

.btn-viewall:hover {
  background: var(--btnhover);
}

.btn-viewall:hover i {
  margin-left: 0.5rem;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white);
}

.news-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--hoverbg);
}

.newsthumb {
  width: 100%;
  height: 15.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.newsthumb img {
  transition: var(--transition);
}

.newsthumb:hover img {
  transform: scale(1.1);
}

.newsdate {
  display: inline-block;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--linkcolor);
  font-style: italic;
  font-weight: 500;
  font-size: 0.8125rem;
}

.news-body {
  padding: 1.5rem;
}

.newstitle {
  color: var(--black);
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  min-height: 3rem;
  margin-bottom: 0.5rem;
  transition: var(--transition);
}

.newstitle:hover {
  color: var(--primary);
}

.newstext {
  color: var(--linkcolor);
  font-size: 0.875rem;
}

.mainside {
  background: var(--white);
  box-shadow: var(--shadow);
}

.sectionsidebar-header {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  background: var(--secondary);
}

.sidebartitle {
  color: var(--white);
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.sectionsidebar-body {
  padding: 1rem;
}

.sidelist {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidelist-link {
  color: var(--linkcolor);
  display: inline-block;
  font-size: 1rem;
  transition: var(--transition);
}

.sidelist-link:hover:not(.active) {
  color: var(--btnhover);
}

.sidelist-link.active {
  color: var(--btnhover);
}

.sidesublist {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.sidesublist-link {
  color: var(--linkcolor);
  display: inline-block;
  font-size: 0.875rem;
  transition: var(--transition);
}

.sidesublist-link:hover:not(.active) {
  color: var(--btnhover);
}

.sidesublist-link.active {
  color: var(--btnhover);
}

.cardview {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cardview-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 4rem;
  height: 5rem;
}

.cardview-thumb img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cardview-details {
  width: calc(100% - 4.5rem);
}

.cardview-title {
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
  transition: var(--transition);
}

.cardview-title:hover {
  color: var(--btnhover);
}

.taglist {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.taglist-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  line-height: 1.5;
  position: relative;
  padding: 0 0.625rem 0 0.75rem;
  background: var(--btnhover);
  -webkit-border-bottom-right-radius: 0.1875rem;
  border-bottom-right-radius: 0.1875rem;
  -webkit-border-top-right-radius: 0.1875rem;
  border-top-right-radius: 0.1875rem;
  color: var(--white);
  font-size: 0.75rem;
  text-decoration: none;
}

.taglist-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: -0.75rem;
  width: 0;
  height: 0;
  border-color: transparent var(--btnhover) transparent transparent;
  border-style: solid;
  border-width: 0.75rem 0.75rem 0.75rem 0;
}

.taglist-link::after {
  content: '';
  position: absolute;
  top: 0.625rem;
  left: 0.125rem;
  float: left;
  width: 0.3125rem;
  height: 0.3125rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: var(--white);
}

.view-all {
  background: var(--linkcolor);
  color: var(--white);
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.325rem 1rem;
}

.breadsection {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumb-item {
  color: var(--linkcolor);
  font-size: 0.875rem;
  font-weight: 400;
}

.breadcrumb-item a {
  color: var(--linkcolor);
  font-size: 0.875rem;
  font-weight: 400;
}

.breadcrumb-item a:hover {
  color: var(--btnhover);
}

.breadcrumb-item.active {
  color: var(--linkcolor);
}

.rightcontent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.rightcontent-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 1rem;
  border-bottom: solid 0.0625rem var(--inputborder);
}

.tagtitle {
  font-size: 0.875rem;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 48rem) {
  .rightcontent-body .taglist {
    padding-inline: 1rem;
  }
}

@keyframes slideUpIn {
  0% {
    transform: translateY(1.25rem);
  }

  100% {
    transform: translateY(0);
  }

  0% {
    transform: translateY(1.25rem);
  }
}
